body {
  background: #fdfdfd;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  margin: 0 auto;
  padding: 1.5rem;
  max-width: 950px;
}

.MuiTypography-root {
  font-size: 15px;
}
